@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

body{
  margin: 0%;
  padding: 0%;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

header{
  padding: 5%;
  background-color: black;
  color: white;
}

main{
  padding: 5%;
}

.startbutton{
  width: 200px;
  height: 200px;
  background-color: rgb(255, 208, 0);
  border-radius: 5%;
}
.startbutton a {
  color: black;
}

.grid {
  display: grid;
  gap: 40px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.grid img {
  width: 100%;
  height: auto;
  display: block;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-bottom: 0%;
  width: 100%;
  background-color: black;
  color: white;
}

