@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #fffdf5;
}

.navbutton {
  background-color: #4A90E2;
  padding: 1%;
  border-color:#037e84;
  border-style: double;
  border-radius: 10%;
  color: #eeeeee;
}

.navbutton:hover{
  background-color: #034c84;
  transition: 0.5s;
}

button a {
  color: #eeeeee;
  font-weight: 800;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.subheader {
  color: #809BCE;
  font-size: 20px;
  font-weight: 600;
}
nav{
  margin-top: 1%;
  text-align: right;
}
header {
  padding: 100px;
  background-color: #00174c;
  color: #fffdf5;
}

main {
  padding: 5%;
}

.startbutton {
  width: 200px;
  height: 200px;
  background-color: #4A90E2;
  border-radius: 5%;
}

.grid {
  display: grid;
  gap: 40px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.grid img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 1%;
  width: 100%;
  background-color: #00174c;
  color: #fffdf5;
}

--LOGIN
.contact-form-container,
.login-container {
 margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-align: left;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input,
textarea {
  border: 1px solid #ddd;
  color: #333;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
  display: none;
}