@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #eeeeee;
}

.navbutton {
  background-color: #00adb5;
  padding: 1%;
  border-color:#037e84;
  border-style: double;
  border-radius: 10%;
  color: #eeeeee;
}

.navbutton:hover{
  background-color: #037e84;
  transition: 0.5s;
}

button a {
  color: #eeeeee;
  font-weight: 800;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.subheader {
  color: #00adb5;
  font-size: 20px;
  font-weight: 600;
}

header {
  padding: 5%;
  background-color: #222831;
  color: #eeeeee;
}

main {
  padding: 5%;
}

.startbutton {
  width: 200px;
  height: 200px;
  background-color: #00adb5;
  border-radius: 5%;
}

.grid {
  display: grid;
  gap: 40px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.grid img {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 1%;
  width: 100%;
  background-color: #222831;
  color: #eeeeee;
}
